@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content">
                       
                        <div class="login-form">
                            <h4>Change Password</h4>
                            <form id="frmChangePassword">
                                <div class="form-group">
                                    <label>Enter Current Password</label>
                                    <input type="password" required class="form-control" id="currentPasssword" placeholder="Current Password" name="userId">
                                <span id="spCurrentPassword" style="color:red"></span>
                                </div>
                                <div class="form-group">
                                    <label>Enter New Password</label>
                                    <input type="password" required class="form-control" id="newPassword" name="newPassword" placeholder="New Password">
                              
                                    <span id="spNewPassword" style="color:red"></span>
                                </div>
                              
                                 <div class="form-group">
                                    <label>Confirm New Password</label>
                                <input type="password" required class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="Confirm Password">
                               <span id="spConfirmPassword" style="color:red"></span>
                                </div>
                                <button type="submit" id="btnChangeNow" class="btn btn-primary btn-flat m-b-30 m-t-30">Change Now</button>
                        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="" id="hdnCurrentPassword" />
      <script src="/assets/js/lib/jquery.min.js"></script>
    <script src="/js/mainConnection.js"></script>
        <script src="~/js/jToast.js"></script>
<script>
let connection = getConnection();
    $(document).ready(function () {

    if(localStorage.getItem("UserId")!=null)
    {
   
    }
    else
    {
        window.location.href = "/Home/Login";
    }

        getLoggedInUserCedential();
        $("#frmChangePassword").submit(function(event) {
                event.preventDefault();
                var formData = new FormData();
                formData.append("NewPassword", $("#newPassword").val());
                formData.append("UserId",localStorage.getItem("UserId"));
           

            $.post(connection + "api/User/ChangePassword", {'NewPassword':$("#newPassword").val(),'UserId': localStorage.getItem("UserId")}, function(r) {
              console.log(r);
                if (r.StatusCode == 200) {
                showToast("Password changed successfully !");
                    
                }
                else
                {
                 showToast("Some error occured while executing your request !");
                }
                
            });

        });

        $("#currentPasssword").keyup(function() {
            if ($("#hdnCurrentPassword").val()==$("#currentPasssword").val()) {
                 $("#spCurrentPassword").text("");
            }
            else { 
               $("#spCurrentPassword").text("Incorrect Password..");
            }
        });

           $("#confirmNewPassword").keyup(function() {
            if ($("#confirmNewPassword").val()==$("#newPassword").val()) {
                 $("#spConfirmPassword").text("");
            }
            else { 
               $("#spConfirmPassword").text("Confirm password did't match.");
            }
        });

         $("#newPassword").keyup(function() {
             if ($("#confirmNewPassword").val() != "") {
             if ($("#newPassword").val()==$("#confirmNewPassword").val()) {
                 $("#spNewPassword").text("");
            }
            else { 
               $("#spNewPassword").text("New password did't match.");
            }
             }
            
        });
    });
function getLoggedInUserCedential() { 
      $("#hdnCurrentPassword").val(localStorage.getItem("UPassword"));
    console.log("Local Storage data=====>" + localStorage.getItem("UserId"));
    $.get(connection + "api/User/GetLoggedInUserDetail", {'EmailAddress':decodeURIComponent(localStorage.getItem("UserId"))}, function(responce) {
             console.log("User list data======>" + JSON.stringify(responce.Entity));
            
      
             
         });
}
</script>



