
@{
    ViewData["Title"] = "Login";
    Layout= null;
}
  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RightMove ADF: Login</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/lib/helper.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
     <script src="/assets/js/lib/jquery.min.js"></script>
      <script src="/js/mainConnection.js"></script>
        <link href="/css/StyleSheet.less" rel="stylesheet">
       <style>
       
</style>
</head>

<body class="bg-primary">

    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#"><span>RightMove ADF</span></a>
                        </div>
                        <div class="login-form">
                            <h4>Admin Login</h4>
                            <form id="frmLogin">
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" required class="form-control" id="userId" name="userId" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" required class="form-control" id="userPassword" name="userPassword" placeholder="Password">
                                </div>
                                 <div class="form-group">
                                    <span class="text-danger" id="spError">In valid login credentials</span>
                                </div>
                                <div class="checkbox">
                                    <label>
										<input type="checkbox"> Remember Me
									</label>
                                    <label class="pull-right">
										<a href="/Home/ForgotPassword">Forgotten Password?</a>
									</label>

                                </div>
                                <button type="submit" id="btnRightMove" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                            <div class="register-link m-t-15 text-center">
                                    <p>Want to create new user account ? <a href="/Home/Register" target="_blank"> click here</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


     <div class="spinner"></div>
</body>
<script>
let connection = getConnection();
    $(document).ready(function () {
            $("#spError").hide();
    localStorage.clear();
        $("#frmLogin").submit(function(event) {
            event.preventDefault();
                var formData = new FormData();
                formData.append("EmailAddress", $("#userId").val());
                formData.append("Password", $("#userPassword").val());
                var request = new XMLHttpRequest();
            $(".loader").show();

                if (request.readyState == XMLHttpRequest.DONE) {
        alert(xhr.responseText);
    }

                request.onreadystatechange = function() {

                      if (request.readyState == XMLHttpRequest.DONE) {
                          $(".loader").hide();
                          console.log("Login responce====>"+request.responseText);
                          if (this.status == 200) {
                              localStorage.setItem("UserId", $("#userId").val());
                                 localStorage.setItem("UPassword",$("#userPassword").val());
                              window.location.href = "/Home/UserList";
                          }
                          else {
                              $("#spError").show();
                          }
                   }
                };
                request.open("POST", connection + "api/Login/Admin");
                request.send(formData);
                console.log("req data====" + request);

             
            
        });
    });
</script>

</html>
